{% extends "blog/base.html" %}
{%load static %}
{% load crispy_forms_tags %}
{% block content %}
<form id="contact-form" action="{% url 'send_email' %}" role="form">
    {% csrf_token %}
    {{form|crispy}}
    <div class="messages">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="controls">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Name *</label>
                    <input id="form_name" type="text" name="name" class="form-control"
                        placeholder="Please enter your name *" required="required"
                        data-error="Name is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Email *</label>
                    <input id="form_email" type="email" name="email" class="form-control"
                        placeholder="Please enter your email *" required="required"
                        data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-send" value="Send message">
            </div>
        </div>
    </div>
</form>
<script src="{%static 'blog/js/jquery-1.11.1.min.js'%}"></script>
<script src="{%static 'blog/js/plugins.js'%}"></script>
<script src="{%static 'blog/js/app.js' %}"></script>
{% endblock %}